@import "https://unpkg.com/ress/dist/ress.min.css";
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  line-height: 1;
  color: #fff;
  font-family: "Noto Serif JP", serif;
  font-size: 1.6em; /* 16px */
}

/* --- header --- */
header {
  background: #4b6e2d;
  padding: 1rem 0;
}
header h1 {
  text-align: center;
}
header .logo {
  width: 10rem; /* 100px */
}

/* --- section --- */
section {
  padding: 10rem 0;
  text-align: center;
  background: #212121;
}
section h2,
section p {
  /* text-shadow: 2px 2px 4px #212121; */
  text-shadow: .1rem .1rem .4rem #212121;
}

section h2 {
  font-size: 2em; /* 32px */
  margin-bottom: 1em;
}

section h2 .en {
  display: block;
  font-size: 0.6em; /* 19.2px */
  font-style: italic;
  margin-bottom: 1em;
}

section p {
  line-height: 3;
}

/* --- button --- */
.btn_detail {
  color: #fff;
  text-align: center;
  display: block;
  width: 14em;
  margin: 6rem auto 0;
  padding: 1em 0;
  border: .1rem solid #fff;
  text-decoration: none;
  letter-spacing: .2em;
  transition: .3s all;
}
.btn_detail:hover {
  background: #fff;
  color: #4b6e2d;
}

/* --- #first-view --- */
#first-view {
  height: 80vh;
  background: url(../img/1.jpg) center/cover no-repeat;
  position: relative;
}
#first-view h2 {
  position: absolute;
  top: 4em;
  left: 10%;
  font-family: "Shippori Mincho", serif;
  color: #212121;
  font-size: 4rem; /* 40px */
  text-shadow: none;
}

#about {
    background-image: url(../img/2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: soft-light;
    background-color: #444;
}
#about .btn_detail {
    margin-top: 10rem;
}

#products {
    width: 50%;
    position: relative;
    background: url(../img/bg_umaemon.svg) center/40% no-repeat #62893a;
}
#poroducts::before {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background: url(../img/3.jpg) center/cover no-repeat;
}

#shop-event .btn_detail {
    margin-top: 30rem;
}

footer {
    background: #4b6e2d;
    padding: 2rem 0;
    text-align: center;

}